html,body,iframe,ul,img
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
body{color:#333333;font:12px "Microsoft YaHei"; background: #EFEFEF;}
ul,ol{list-style: none;}
a{text-decoration: none;color:#7A7AD4}
a:hover{text-decoration: none}

/* 设置滚动条的样式 */
::-webkit-scrollbar {width: 8px;height: 8px;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb { background: #DDDDDD; border-radius: 5px;}
::-webkit-scrollbar-thumb:hover{ background: #AAAAAA;}


/*直角*/
input,
textarea,
.btn,
.form-control,
.label,
.nav-pills>li>a,
.modal-content,
.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn,
.pagination>li:last-child>a, .pagination>li:last-child>span,
.pagination>li:first-child>a, .pagination>li:first-child>span,
.modal-content{border-radius:0;}
/*outline*/
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline: none;}
/*模态窗口内距*/
.modal-body>.form-horizontal{margin: 0 15px;}
.cursor-pointer{cursor: pointer;}

label{font-weight: normal;}
.pagination{margin:10px 0;}

.top-header{width: 100%;height: 45px;background: #5F5F5F;}
.top-header .logo{height: 45px;margin-left: 200px;display: inline-block;position: relative;top: -1px;}
.top-header ul{margin-left: 30px;display: inline-block;}
.top-header ul:after{content: "";display: block;clear: both;}
.top-header ul li{float: left;}
.top-header ul li a{color:#EFEFEF;font-size: 18px;text-decoration: none;padding: 0 10px;line-height: 45px;display: inline-block;position: relative;letter-spacing: 2px;}
.top-header ul li a:after{content: "";display:block;width: 100%;height:0px;background: #dedede;position: absolute;left:0px;bottom:0px;transition: height .1s;}
.top-header ul li a:hover{color:#dedede;}
.top-header ul li a:hover:after{height:4px;}
.top-header ul .active{content: "";display:block;width: 100%;height:0px;background: #dedede;position: absolute;left:0px;bottom:0px;transition: height .1s;}
.container{width:940px;min-height:500px;margin:0 auto;background:#ffffff}
.footer{width:940px;text-align: center;padding: 40px 0 ;margin: auto;background:#ffffff;}
.footer .cont{padding:20px; border-top:1px dotted #cbd0d1}

.breadcrumb {margin-left:-15px;padding: 5px 10px;background:#ffffff;margin-bottom: 10px;}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: ">\00a0";
}

.ztree li a{color:#666666}
.ellipsis{overflow:hidden; white-space:nowrap; word-break:keep-all;  text-overflow:ellipsis;  }
.text-prompt{color:#999999}
.text-gray{color:#666666}
.text-ccc{color:#CCCCCC}
.margin-left-5{margin-left:5px}
.margin-left-10{margin-left:10px}
.margin-left-15{margin-left:15px}
.margin-left-20{margin-left:20px}
.margin-right-5{margin-right:5px}
.margin-right-10{margin-right:10px}
.margin-right-15{margin-right:15px}
.margin-bottom-5{margin-bottom:5px}
.margin-bottom-10{margin-bottom:10px}
.margin-top-5{margin-top:5px}
.margin-top-10{margin-top:10px}
.margin-top-20{margin-top:20px}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.div-underline{border-bottom: 1px solid #CCCCCC;padding-bottom:5px ;}

.panel-t{
	border: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-t>.panel-heading-t{
	padding:3px 15px;
	background-color:white
}
.panel-default>.panel-heading-t+.panel-collapse>.panel-body-t{
	border-top: 0px solid #ddd;
}
.nav-pills>li.active>a{
	background: #5bc0de;
}
.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	background: #31b0d5;
}
.nav>li>a{padding: 6px 15px;}

/*标签*/
.select-label-list>*{margin: 3px 0;}
.select-label-add{width: 150px;display: inline-block;vertical-align: middle;}
.select-label-list>button{padding-left: 17px;padding-right: 17px;}
.select-label-list>button:after{content: "×";padding-left: 5px;display: none;}
.select-label-list>button:hover{padding-left: 10px;padding-right: 10px;}
.select-label-list>button:hover:after{display: inline;}

.label-edu{font-weight: normal;padding: 0.1em 0.5em;background: #c9c9c9;}
